body {
  margin: 0;
  background-color: black;
}

.wrapper {
  height: 100vh;

  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;

}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background{
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  z-index: -1;

  transform: translateZ(-10px) scale(2);
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;;
}


section {

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 2rem;

  background-color: rgb(0, 0, 0) ;
  color: rgb(255, 255, 255);
}

section h3{
  font-weight: 700;
  text-align: center;
}

.image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;


}

.image-container .image{
  height: 100%;
  min-width: 250px;
  object-fit: cover;
  border: 10px solid white;
  overflow: hidden;
  cursor: pointer;
}

.image-container .image img{
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: top 0 left 0;

  transition: .2s linear;
}

.image:hover img{
  transform: scale(1.1);
} 

.image-container .popup-image{
  justify-content: center;
  width: 80vw;
  height: 100%;

}

.image-container .popup-image img{
  border: 5px solid white;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

@media(max-width:81vw){
  .popup-image img{
    width: 95%;
  }
}